services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - API_TOKEN=${API_TOKEN}
      - ADMIN_ID=${ADMIN_ID}
      - FOR_LOGS=${FOR_LOGS}
      - LOG_LEVEL=${LOG_LEVEL}
      - DB_ECHO=False
    volumes:
      - ./logs:/app/logs
      - ./croissant.db:/app/croissant.db
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
    restart: unless-stopped
volumes:
  logs: