aiocron
aiofiles
aiogram>=3.17.0
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
anyio
attrs
blinker
certifi
click
croniter
fastapi
flask
frozenlist
greenlet
h11
idna
itsdangerous
jinja2
magic-filter
markupsafe
multidict
packaging
propcache
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
six
sniffio
sqlalchemy>=2.0.0
starlette
typing_extensions
tzlocal
uvicorn
werkzeug
yarl