aiocron
aiofiles
aiogram>=3.17.0
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
anyio
attrs
certifi
croniter
frozenlist
greenlet
h11
idna
magic-filter
multidict
packaging
propcache
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
six
sniffio
sqlalchemy>=2.0.0
typing_extensions
tzlocal
yarl